@model Panel.Models.EventConfigurationViewModel
@{
    ViewBag.Title = "Event Configuration";
}

<div class="container">
<div class="row">
    <h2>Event Configuration</h2>
</div>
<div class="row">
    <table id="" class="table table-hover">
        <thead>
            <tr>
                <th>Event rule</th>
                <th>Period</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{ 
                foreach (var item in Model.Configurations)
                {
                    <tr>
                        <td>
                            @Html.Encode(item.Rule)
                        </td>
                        <td>
                            @Html.Encode(item.Period)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="row">
    <p>Function(property [property_operator] property_value) [operator] value</p>
</div>
<div class="row">
    <form>
        <div class="form-group">
            <label for="function-input">Function:</label>
            <select class="form-control" id="function-input">
                <option>SUM</option>
                <option>AVG</option>
                <option>COUNT</option>
            </select>
        </div>
        <div class="form-group">
            <label for="property-input">Property:</label>
            <select class="form-control" id="property-input">
                <option>1</option>
                <option>2</option>
            </select>
        </div>
        <div class="form-group">
            <label for="property-operator-input">Property operator:</label>
            <select class="form-control" id="property-operator-input">
                <option>=</option>
                <option>></option>
                <option><</option>
            </select>
        </div>
        <div class="form-group">
            <label for="property-value-operator">Property value:</label>
            <input type="text" class="form-control" id="property-value-operator">
        </div>
        <div class="form-group">
            <label for="operator-input">Operator:</label>
            <select class="form-control" id="operator-input">
                <option>=</option>
                <option>></option>
                <option><</option>
            </select>
        </div>
        <div class="form-group">
            <label for="value-input">Value:</label>
            <input type="text" class="form-control" id="value-input">
        </div>

        <div class="form-group">
            <label for="period-input">Period (number of days):</label>
            <input type="text" class="form-control" id="period-input">
        </div>
        <div class="form-group">
            <label for="template-input">Template (html Code):</label>
            <textarea class="form-control" rows="5" id="template-input"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
</div>