@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WebCRM</h1>
    <p class="lead">WebCRM is powerful tool to improve your business and brings your relations with customer to higher level</p>
    <p><a href="Account\Login" class="btn btn-primary btn-lg">Log in</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Statistics</h2>
        <p>
            Check current statistics of your website, to plan the most efficient way of communication with your customers 
            and analyze results of previous strategies. Be up-to-date with your business, to make progress with developing your project.
        </p>
        <p>
            @Html.ActionLink("Show", "Index", "Statistics", new object { }, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Data Configuration</h2>
        <p>
            Configure your custom data, which you would like to collect in our system, to get more detailed information about 
            your customers, to prepare more accurate strategies for your business.
        </p>
        <p>
            @Html.ActionLink("Configure", "Index", "DataConfiguration", new object { }, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Event Configuration</h2>
        <p>
            Basing on data analysis from Statistics subpage, prepare new strategies of communication with your customer, or update 
            existing ones.
        </p>
        <p>
            @Html.ActionLink("Configure", "Index", "EventConfiguration", new object { }, new { @class = "btn btn-default" })
        </p>
    </div>
</div>